<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title> {% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'tutores/stylesheet.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'tutores:index' %}">CEPCQ</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

                <li class="">
                    <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Tutores </a>

                </li>

                <li class="">
                    <a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp; Cursos </a>

                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value=""/>
                    <button type="submit" class="btn btn-default">Buscar</button>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                     <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Añadir tutor</a>
                 </li>

                <li class="">
                    <a href="#"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Salir </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>