{% extends 'tutores/base.html' %}
{% block titulo %} Cursos {% endblock %}

{% block body %}
    <img src="/tutores/templates/tutores/capacitado.png">
    <h1> {{ tutor.nombre }}</h1>
    <h3> {{ tutor.ciudad }}</h3>


    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

        {% for curso in tutor.curso_set.all %}
            <input type="radio" id="curso{{ forloop.counter }}" name="curso" value="{{ curso.id }}" />
            <label for="curso{{ forloop.counter }}">
                {{ curso.nombre }}
                {%  if curso.terminado %}
                    <img src="https://d1whdhnvermmdv.cloudfront.net/assets/check_16.png"/>
                {% endif %}
            </label><br>
        {% endfor %}
{% endblock %}


