{% extends 'tutores/base.html' %}
{% block titulo %} Tutores {% endblock %}
{% block body %}

        {%  if object_list %}
            <h3> Aquí están todos tus tutores</h3>

        {% else %}
            <h3> No tienes ningún Tutor, puñetas.</h3>
        {% endif %}
        <ul>
            {% for tutor in object_list%}
            <li> <a href="{% url 'tutores:detalle' tutor.id %}"> {{ tutor.nombre }} </a></li>
            {% endfor %}
        </ul>
{% endblock %}

